<div id='cartBox'>
    <div style="height:80px" class="claarFix">
        <img src="http://127.0.0.1:8000/images/15.jpg" style="width:80px;"/>
        <span>腌臜发斯蒂芬</span>
        <input type="text">
        <span>234234</span>
    </div>
    <div style="height:80px" class="claarFix">
            <img src="http://127.0.0.1:8000/images/15.jpg" style="width:80px;"/>
            <span>腌臜发斯蒂芬</span>
            <input type="text">
            <span>234234</span>
        </div>
        <div style="height:80px" class="claarFix">
                <img src="http://127.0.0.1:8000/images/15.jpg" style="width:80px;"/>
                <span>腌臜发斯蒂芬</span>
                <input type="text">
                <span>234234</span>
            </div>
</div>