<div class="col" id="cartList"></div>

<script type="text/template" id="cartList_tpl">
    <%_.each(data,function(item){%>
    <div style="height:80px;line-height:80px" class="row">
            <div class="col-2">
                <img src="http://127.0.0.1:8000/<%=item.goods_images%>" style="width:80px;"/>
            </div>
            <div class="col-4" style="line-height:10px;">
                <h6><%=item.goods_name%></h6>
                <span style="font-size:0.5rem"><%=item.goods_title%></span>
            </div>
            <div class="col-2"><span style="color:red"><%=item.goods_price%></span></div>
            <div class="col-2" style="align-self:center">
                <input style="width:4.5rem" data-id="<%= item.goods_id%>" class="form-control" value="<%=item.cartNum%>" type="text">
            </div>
            <div class="col-2"><span style="color:red" id='countPrice_<%= item.goods_id  %>' ><%= (item.goods_price * item.cartNum).toFixed(2) %></span></div>  
    </div>
    <% }) %>
</script>
